[meta]
    title = "Cylc 7 Hello World for ARCHER2"

[scheduling]
    [[dependencies]]
        graph = "hello"

[runtime]
    [[hello]]
        script = "sleep 10; echo Hello World!"
        
        [[[remote]]]
            host = localhost
